.git
*~

aws-ssm/**
build/**
examples/**
scripts/**
terraform/**

CHANGELOG.md
CODE_OF_CONDUCT.md
coverage.txt

docker-compose.yml
environment.yaml
example.yaml
glide.yaml
goss.yaml
LICENSE
Makefile
README.md
CODE_OF_CONDUCT.md
Dockerfile
